# AWS credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1

# S3 Data Lake
S3_BUCKET=olist-data-lake-yourname-2026

# RDS PostgreSQL (fill in after terraform apply)
PG_HOST=olist-postgres.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com
PG_PORT=5432
PG_DB=olist
PG_USER=adminuser
PG_PASSWORD=YourStr0ngPassword!

# PostgreSQL schemas
PG_RAW_SCHEMA=olist_raw
PG_PROD_SCHEMA=olist_prod

# Kaggle credentials
KAGGLE_API_TOKEN=KGAT_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
