# AWS credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1

# S3 Data Lake
S3_BUCKET=olist-data-lake-yourname-2026

# Redshift Serverless (fill in after terraform apply)
REDSHIFT_HOST=olist-workgroup.xxxxxxxxxxxx.us-east-1.redshift-serverless.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DB=olist
REDSHIFT_USER=adminuser
REDSHIFT_PASSWORD=YourStr0ngPassword!

# Redshift schemas
RS_RAW_SCHEMA=olist_raw
RS_PROD_SCHEMA=olist_prod

# IAM Role ARN for Redshift COPY from S3 (fill in after terraform apply)
IAM_ROLE_ARN=arn:aws:iam::xxxxxxxxxxxx:role/olist-redshift-s3-role

# Kaggle credentials
KAGGLE_API_TOKEN=KGAT_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
